@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: rgb(0, 36, 35);
  background: linear-gradient(
    90deg,
    rgba(0, 36, 35, 1) 0%,
    rgba(136, 134, 204, 1) 48%,
    rgba(0, 112, 255, 1) 79%
  );
}

.container1 {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 25px;
  padding: 20px;
}

header h1 {
  margin-left: 60px;
  margin-right: 60px;
  background-color: rgba(121, 158, 244, 0.858)e9e;
  color: #333;
}

.search-bar input[type='text'] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.filter-bar {
  margin-top: 15px;
  margin-bottom: 10px;
}

.filter-bar label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-bar select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#taskList li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  background-color: #f2f2f2;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #bbb;
}

.pagination #currentPage {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 5px 10px;
}

/* Media Queries */

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .task-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .task {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 24px;
  }

  .section-title {
    font-size: 20px;
  }

  .task-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.user {
  display: flex;
  align-items: center;
}

.initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #777;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.initials:hover {
  background-color: #555;
}

.dropdown {
  position: absolute;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(127, 159, 235, 0.97);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0;
  border-radius: 4px;
  margin-top: 10px;
}

.dropdown-content a {
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #5d5454;
  color: #bbb;
}

.user:hover .dropdown-content {
  display: block;
}

.logout {
  color: #555555;
  text-decoration: none;
  margin-left: 10px;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logout::before {
  content: '';
  border: 2px solid currentColor;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

/* Media Query for Mobile */
@media screen and (max-width: 600px) {
  .initials {
    font-size: 16px;
  }

  .dropdown-content a {
    padding: 6px 12px;
  }

  .logout {
    font-size: 14px;
  }
}
