body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg,
        rgba(0, 36, 35, 1) 0%,
        rgba(136, 134, 204, 1) 48%,
        rgba(0, 112, 255, 1) 79%);
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #20315b;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #2a6cd5;
  border-radius: 4px;
  box-sizing: border-box;
  outline: #20315b;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}

.signup-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.signup-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .container {
    margin-top: 50px;
  }
}
