
.signupform {
  max-width: 400px;
  margin: 100px auto;
  padding: 0 20px;
  border: 1px solid #2a6cd5;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px #20315b;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 95%;
  padding: 10px;
  border: 1px solid #2a6cd5;
  border-radius: 4px;
  outline: #2a6cd5;
}

.error {
  color: red;
}

input[type='submit'] {
  background-color: #2a6cd5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #555;
}

.login-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.login-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 300px;
  }
}
