body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #2a6cd5;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #2a6cd5;
    border-radius: 4px;
    outline: #2a6cd5;
}

.error {
    color: red;
}

input[type="submit"] {
    background-color: #20315b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2a6cd5;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 300px;
    }
}