body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container6 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #52617be8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #c8c3c3;
  font-size: 30px;
  margin-top: 20px;
  background-color: #787373c1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture img:hover {
  transform: scale(1.1);
}

form {
  margin-bottom: 20px;
}

form input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#bio {
  align-self: flex-start;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='number'],
textarea {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  right: 0;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #0056b3;
}
