body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container4 {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

.task-details {
    margin-bottom: 20px;
}

.task-details label {
    font-weight: bold;
}

.task-details p {
    margin: 5px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #20315b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-secondary {
    background-color: #2a6cd5;
}

.button:last-child {
    background-color: #ff0000;
}

@media screen and (max-width: 480px) {
    .container {
        margin-top: 30px;
    }
}