{% extends "base.html" %} {% block content %}

<div class="container">
    <h2>Login</h2>
    {% if boolean == True %}
     Yes it is true! 
     {% endif %}
    <form id="loginForm" onsubmit="validateForm(event)">
        <input type="text" id="username" placeholder="Username">
        <div id="usernameError" class="error"></div>
        <input type="password" id="password" placeholder="Password">
        <div id="passwordError" class="error"></div>
        <input type="submit" value="Log In" class="button">
        <p class="signup-text">Don't have an account? <a class="signup-link" href="sign-up.html">Sign Up</a></p>
    </form>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}