{% extends "base.html" %} {% block content %}

<div class="container signup">
    <h2>Sign Up</h2>
    <form method="POST" id="signup-form" onsubmit="validateForm(event)">
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" name="fullname" id="fullname" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" >
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <span class="error" id="email-error"></span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <span class="error" id="password-error"></span>
        </div>
        <div class="form-group">
            <label for="password">Comfirm Password</label>
            <input type="password" name="password2" id="password2" required>
            <span class="error" id="password-error"></span>
        </div>
        <div class="form-group">
            <button type="submit" name="submit" value="Sign Up">Sign Up</button>
        </div>
    </form>
</div>

{% endblock %}