{% extends "base.html" %} {% block title %} Login {% endblock %} {% block content %}
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm">
            <input type="text" name="username" id="username" placeholder="Username">
            <div id="usernameError" class="error"></div>
            <input type="password" name="password" id="password" placeholder="Password">
            <div id="passwordError" class="error"></div>
            <input type="submit" name="submit" value="Log In" class="button">
            <p class="signup-text">Don't have an account? <a class="signup-link" href="sign-up.html">Sign Up</a></p>
        </form>
    </div>   

{% endblock %}